:root {
    --navbar-height: 100px;
    --mobile-navbar-height: 70px;
}

/* Alapvető oldal szerkezet */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5E8C7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: var(--navbar-height);
}

/* Fő tartalom terület */
main {
    flex: 1;
    padding: 2em 0;
    width: 100%;
    background-color: #D4A373;
}



/* Tartalom konténer */
.container {
    background-color: #D4A373;
    padding: 1.5em;
    max-width: 350px;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 2em auto;
    height: auto;
}

h2 {
    font-size: 1.6em;
    color: #1A1A1A;
    margin-bottom: 1em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
    background-color: #D4A373;
}

label {
    text-align: left;
    font-weight: 600;
    color: #424242;
    font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
    width: 100%;
    padding: 0.6em;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 0.9em;
    background: #FFFDE7;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
    border-color: #FF7043;
    outline: none;
}

button {
    width: 100%;
    padding: 0.6em;
    background-color: #1A1A1A;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 0.6em;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

/* Linkek */
p a {
    color: #1A1A1A;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9em;
}

p a:hover {
    text-decoration: underline;
}

/* reCAPTCHA stílus */
.g-recaptcha {
    display: flex;
    justify-content: center;
    margin-top: 0.5em;
}

/* Jelszó mező stílus */
.input-container {
    position: relative;
    width: 100%;
}

#password {
    width: 100%;
    padding-right: 40px;
}

.input_img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.input_img svg {
    fill: #333;
}

/* Reszponzivitás */
@media (max-width: 768px) {
    .container {
        padding: 1em;
    }

    h2 {
        font-size: 1.4em;
    }

    button {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: var(--mobile-navbar-height);
    }
}