html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

h1{
    text-align: center;
}

/* Tartalom kerete */
.content-wrapper {
    flex: 1; /* A tartalom kitölti a fennmaradó helyet */
    display: flex;
    padding-top: 100px;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card img {
    height: 200px; /* Fixált képméret, állítsd be szükség szerint */
    object-fit: cover; /* Képarány megtartása, levágás nélkül */
}

.card-body {
    flex-grow: 1; /* A leírás és a gombok kitöltik a fennmaradó helyet */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Egyenletes elosztás */
}

.card-title {
    font-size: 18px;
    font-weight: bold;
}

.card-text {
    flex-grow: 1; /* A leírás rugalmasan igazodik */
}

.details-btn {
    margin-top: auto; /* Az alsó részhez igazítja a gombot */
    width: 100%;
}
