.parallax {
    background-image: url('../kepek/67459f01c55ff-pizza3.jpg'); /* Cseréld a képfájlra */
    min-height: 100%; /* Minimum magasságot állíts be */
    height: 70%;
    width: 100%; /* Győződj meg róla, hogy teljes szélességet vesz fel */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* A kép méretének helyes beállítása */
    display: block; /* Biztosítja, hogy rendesen megjelenjen blokkos elemként */
}
